<article>
  <h4>{{article.title}}</h4>
  <div class="images-container">
    <img
      class="images"
      src="/images/{{article.images.2.filename}}"
      alt="{{article.title}}"
    />
  </div>
  <p class="article-text">{{article.article_text}}</p>
  <div class="images-container">
    <img
      class="images"
      src="/images/{{article.images.1.filename}}"
      alt="{{article.title}}"
    />
  </div>
  <p>{{article.created_at}}</p>
  <div class="comments">
    <h5>Comments:</h5>
    {{#each article.article_comments as |article_comment|}}
      <div class="comment">
        <p class="comment-text">{{comment_text}}<span>
            ({{user.username}})</span></p>
      </div>
    {{/each}}
  </div>
</article>