<article>
  <h4>{{article.title}}</h4>
  <div class="images-container">
    <img
      class="images"
      src="/images/{{article.images.0.filename}}"
      alt="{{article.title}}"
    />
  </div>
  <p class="article-text">{{article.article_text_1}}</p>
  <div class="images-container">
    <img
      class="images"
      src="/images/{{article.images.2.filename}}"
      alt="{{article.title}}"
    />
  </div>
  <p class="article-text">{{article.article_text_2}}</p>

  {{#if loggedIn}}
  <div class="comments">
    <form id="new-comment">
      <textarea
        name="comment-area"
        id="comment-area"
        cols="50"
        rows="5"
        placeholder="Say Something Nice"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
    </div>
  {{else}}
  <div class="comments">
    <p>You Must <a href="/login">Login</a> to Leave Comments!</p>
  </div>
  {{/if}}

  <div class="comments">
    <h5>Comments:</h5>
    <div class="comments-display">
      {{#each article.article_comments as |article_comment|}}
        <p></p>
        <p class="comment-text">{{comment_text}}<span>
            ({{user.username}}
            {{format_date created_at}})</span></p>
      {{/each}}
    </div>
  </div>
</article>
{{#if loggedIn}}
  <script src="/js/article_comment.js"></script>
{{/if}}