<article>
  <h4>{{article.title}}</h4>
  <img
    class="images-art"
    src="/images/{{article.imagesactions.0.filename}}"
    alt="{{article.title}}"
  />
  <p class="article-text">{{article.article_text}}</p>
  <p>{{article.created_at}}</p>
  <div>
    {{#each article.article_comments as |article_comment|}}
      <div>
        <p>{{comment_text}}</p>
        <p>{{user.username}}</p>
      </div>
    {{/each}}
  </div>
</article>