<article class="row">
  <h4 class="col-12 text-center">{{article.title}}</h4>
  <h3 class="col-12 text-center">&#9856 &#9857 &#9858 &#9859 &#9860 &#9861
    &#9860 &#9859 &#9858 &#9857 &#9856</h3>
  <img
    class="col-12 my-3 pics-size"
    src="/images/{{article.images.0.filename}}"
    alt="{{article.title}}"
  />
  <p class="article-text col-12">{{article.article_text_1}}</p>
  <img
    class="col-12 my-3 pics-size"
    src="/images/{{article.images.2.filename}}"
    alt="{{article.title}}"
  />
  <p class="article-text col-12">{{article.article_text_2}}</p>
  {{#if loggedIn}}
    <div class="comments col-12">
      <form id="new-comment" class="form-floating">
        <textarea
          name="comment-area"
          id="comment-area"
          class="form-control mb-2"
          placeholder="Say Something Nice!"
        ></textarea>
        <div class="col-12">
          <button type="submit" class="form-button">Submit</button>
        </div>
      </form>
    </div>
  {{else}}
    <div class="comments col-12">
      <p>You Must <a href="/login">Login</a> to Leave Comments!</p>
    </div>
  {{/if}}
  <div class="comments col-12">
    <h5>Comments:</h5>
    <div class="comments-display">
      {{#each article.article_comments as |article_comment|}}
        <p class="comment-text">{{comment_text}}<span>
            ({{user.username}}
            {{format_date created_at}})</span></p>
      {{/each}}
    </div>
  </div>
</article>
{{#if loggedIn}}
  <script src="/js/article_comment.js"></script>
{{/if}}