{{#if loggedIn}}
  <div id="createThread">
    <a href="/dashboard">
      <h2 id="threadCreation">
        Click here to create a thread!
      </h2>
    </a>
  </div>
{{else}}
  <p>You Must <a href="/login">Login</a> to create a thread!</p>
{{/if}}

{{#each posts as |post|}}

  <div class="threads">
    <a id="threadLink" href="/forum/forum-post/{{id}}">
      <h3 class="forumTitle">
        {{title}}</h3>
    </a>
    <h7 id="threadPoster">Posted by
      {{user.username}}
      at
      {{format_date createdAt}}
      has
      {{forum_comments.length}}
      {{format_plural "comment" forum_comments.length}}
    </h7>

    <p id="ThreadContent">{{post_tease post_content}}...</p>
    <h4></h4>
  </div>
{{/each}}