{{#each posts as |post|}}
  <a class="threads" href="/post/{{id}}">
    <h3>
      {{post.title}}
    </h3>
    <p>{{comment_text}}</p>
    <p>posted by {{user_id}} at {{created_at}}</p>
  </a>
{{/each}}