<ol class="post-list">
  {{#each articles as |article|}}
    <li>
      <article class="post">
        <div class="title">
          <a
            href="{{article.article_text}}"
            target="_blank"
          >{{article.title}}</a>
          {{!-- <span>{{article.article_text}}</span> --}}
        </div>
        {{!-- <div class="meta">
          {{post.vote_count}}
          point(s) by
          {{post.user.username}}
          on
          {{post.created_at}}
          |
          <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div> --}}
      </article>
    </li>
  {{/each}}
</ol>