<div class="threads">
  <h3 id="threadTitle">
    {{post.title}}
  </h3>
  <h7 id="threadPoster">Posted by {{post.user.username}} at {{format_date post.createdAt}} {{!-- {{post.time created wait for john}} --}}</h7>

  <p id="ThreadContent">{{post.post_content}}</p>
  <h4></h4>
</div>


{{#if loggedIn}}
<div class="comments">
    <form id="new-comment">
      <textarea name="comment-area" id="comment-area" cols="50" rows="5" placeholder="Say Something Nice"></textarea>
      <button class="form-button mt-1" type="submit">Submit</button>
    </form>
</div>
    {{else}}
    <p>You Must <a href="/login">Login</a> to Leave Comments!</p>
    {{/if}}

<div class="comments">
  <h5>Comments:</h5>
  <div class="comments-display">
    {{#each post.forum_comments as |Forum_Comment|}}
    <p><u>{{user.username}} posted at {{format_date created_at}}</u></p>
    <p class="comment-text">{{comment_text}}</p>
    {{/each}}
    
  </div>
</div>
</article>
{{#if loggedIn}}
<script src="/js/forum-comment.js"></script>
{{/if}}