<div class="threads">
  <h3 id="threadTitle">
    {{post.title}}
  </h3>
  <h7 id="threadPoster">Posted by {{post.user.username}} at {{!-- {{post.time created wait for john}} --}}</h7>

  <p id="ThreadContent">{{post.post_content}}</p>
  <h4></h4>
</div>

<div class="comments">
  <h5>Comments:</h5>
  <div class="comments-display">
    {{#each Forum_Comment as |Forum_Comment|}}
    <p class="comment-text">{{comment_text}}<span>
        ({{user.username}})</span></p>
    {{/each}}
    {{#if loggedIn}}
    <form id="new-comment">
      <textarea name="comment-area" id="comment-area" cols="50" rows="5"></textarea>
      <button type="submit">Submit</button>
    </form>
    {{else}}
    <p>You Must <a href="/login">Login</a> to Leave Comments!</p>
    {{/if}}
  </div>
</div>
</article>
{{#if loggedIn}}
<script src="/js/article_comment.js"></script>{{!-- probably need to make forum-comment.js as i dont see one made by casey --}}
{{/if}}